#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #28324e;
}
#header1-1 H1 {
  color: #e25041;
}
#header1-1 P {
  color: #28324e;
}
#content5-2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-article {
  color: #fff;
}
#msg-box3-3 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3 .mbr-header .mbr-header__subtext {
  text-align: center;
}
